.single-post__container {
    padding-top: 1rem;
    
    &__detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 12.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: rgba(238, 164, 127, 0.596);
        box-shadow: 0 8px 32px 0 rgba( 235, 235, 235, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    
        &-title {
            color: white;
            margin: 0;
            text-decoration: none;
        }

        &-header {
            color: #2E496A;
        }
    }
}
