.posts {
    padding-left: 1rem;
    padding-right: 1rem;


    &__header {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        &-title {
            margin: 0;
            border: .1875rem solid #e8dfca;
            color: #e8dfca;
            padding: .3125rem;
            border-radius: .3125rem;
        }

        &__button {
            padding-top: 1rem;

            &-link {
                border: none;
                border-radius: 1.25rem;
                background-color: #aebdca;
                color: #e8dfca;
                font-weight: 600;
                padding: .5rem;
            }
        }
    }


    &__location {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-post {
            display: flex;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.85);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            padding-left: 1rem;
            padding-right: 1rem;

            &__details {
                width: 50%;
            }

            &__level {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                width: 30%;

                &-link {
                    height: 1.875rem;
                    width: 1.875rem;
                }
            }
        }
    }
}