@font-face {
    font-family: 'NotoSerifJP';
    src: url('../../assets/fonts/NotoSerifJP-Regular.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'NotoSerifJP';
    src: url('../../assets/fonts/NotoSerifJP-SemiBold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSerifJP';
    src: url('../../assets/fonts/NotoSerifJP-Bold.otf') format('opentype');
    font-weight: 700;
}
