@use "./Styles/partials/fonts" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'NotoSerifJP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
